nav {
display:inline;
}
h4.contact, h4.about, h4.home {
    display: inline;
    padding: 50px;
    background-color: aquamarine;
    width:100%;    
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50px; 
    margin-top: 50px;
    margin: 50px;
   
}

div {
    display:inline;
}
.containerOne {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    
    
            "aside one two"
            "aside three four"
            "aside five six";
    
   justify-content: center;
   border: 5px dotted;
   align-content: center;
   align-items: center;
   padding:10px;
   gap: 5px 5px; 
   font-size:30px; 
   margin-top: 100px;

}

img {
    max-width: 50%;
}

.one .two .three .four .five .six {
    justify-self: start;
 
}

.aside {
    grid-area: 1 / 1 / 4 / 2 ;
    max-height: fit-content;
    border-right: solid 5px;
    
    
    
}